{{#if cubes}}
{{#each cubes}}
  <div class='cube'>
    <img class='cube' src='{{imageUrl}}' />
    <p class='name'>{{name}}</p>
    <p><span>Difficulty level:</span>{{difficulty}}</p>
    <a class='btn' href='/details/{{id}}'>Details</a>
  </div>
{{/each}}
{{else}}
<p class="no-logs">No results match your search, try again with different criteria instead.</p>
{{/if}}