<section id="deatils-page">
  <div class="wrapper">
    <div class="product-img">
      <img src="{{house.image}}">
    </div>
    <div class="product-info">
      <div class="product-text">
        <div class="product-text">
          <h1>Name: {{house.name}}</h1>
          <h2>Type: {{house.type}}</h2>
          <h4>Year: {{house.year}}</h4>
          <h4>City: {{house.city}}</h4>
          <p>Description: {{house.description}}</p>

          <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
          {{#if house.rentedAHome}}
          <p>People rented this housing: {{house.renters}}</p>
          {{else}}
          <!-- If not display: -->
          <p>People rented this housing: There are no tenants yet.</p>
          {{/if}}
        </div>
      </div>
      <!-- if there is no registered user, do not display buttons-->
      {{#if user}}
      <div class="product-btn">
        <!-- Only for registered user and creator of the housing offer-->
        {{#if house.isAuthor}}
        <a href="/house/edit/{{house._id}}" class="edit">Edit</a>
        <a href="/house/delete/{{house._id}}" class="remove">Delete</a>
        {{else}}
        <!-- logged in user with available pieces-->
        {{#if house.availablePieces}}
        {{#if house.isRented}}
        <p class="alRentHome">You have already rent this home</p>
        {{else}}
        <a href="/house/rent/{{house._id}}" class="rentHome">Rent a home, available {{house.availablePieces}}
          housing</a>
        {{/if}}
        <!-- logged in user with no available pieces-->
        {{else}}
        <p class="no-housing">No Housing Available!</p>
        {{/if}}
        {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
</section>