    {{#with hotel}}
<section id='viewhotelDetails'>
    <h2>Details</h2>
    <div class='hotel-ticket'>
        <div class='hotel-left'>
            <img src='{{imageUrl}}' alt='' />
        </div>
        <div class='right'>
            <div>
                <h3>{{name}}</h3>
            </div>
            <div>
                {{city}}
            </div>
            <p><span>Free rooms: {{freeRooms}}</span> </p>
            </p>

            {{#if isOwner}}
                <a href='/crud/edit/{{_id}}' class='edit'>Edit</a>
                <a href='/crud/delete/{{_id}}' class='remove'>Delete</a>
            {{else}}
                {{#if isBooked}}
                    <div>
                    <p><span class='green'>You already have booked a room</span> </p>
                    </div>
                    {{else}}
                    <a href='/crud/book/{{_id}}' class='book'>Book</a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</section>
    {{/with}}