<section class="profile col-md-6 text-center col-lg" id="profile-page">
  <div class="profile-container">
    <!-- Do not forget to change the path to the image -->
    <!-- Gender of the user determines which picture is displayed as their avatar -->
    <img class="profile-img" src="/static/images/male.png">
    <p>Email: {{user.email}}<span></span></p>
  </div>
  <div class="profile-info">
    <p>Trips History: <span>{{userInfo.tripsHistory.length}}</span> counts</p>

    <div class="trips-info">
      <!-- If there are trips created by the current logged in user display each of them -->
      {{#each userInfo.tripsHistory}}
      <p>from <span>{{start}}</span> to <span>{{end}}</span> on <span>{{date}}</span> at
        <span>{{time}}</span>
      </p>
      {{else}}
      <!-- If there are no trips created by the current logged in user display:-->
      <p>there are no offer trips yet...</p>
      {{/each}}
    </div>

  </div>
</section>