{{#with cube}}
  <main>
    <h1>Edit</h1>
    <div class='form'>
      <form action='/edit/{{id}}' method='post'>
        <label for='name'>Name</label>
        <input type='text' id='name' name='name' value='{{name}}' />
        <label for='name'>Description</label>
        <textarea id='name' name='description'>{{description}}</textarea>
        <label for='image'>ImageUrl</label>
        <input type='text' id='image' name='imageUrl' value='{{imageUrl}}' />
        <label for='difficulty'>Difficulty</label>
        <select id='difficulty' name='difficultyLevel' value='{{difficulty}}'>
          {{#each options}}
          <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.content}}</option>
          {{/each}}
        </select>
        <input type='submit' value='Edit' />
      </form>
    </div>
  </main>
{{/with}}